<!-- p-steps for navigation -->

<!-- Content by steps -->
<div class="min-h-screen flex flex-col px-4 sm:px-8 py-5">
    <!-- Steps Component -->
    <p-steps 
        [activeIndex]="stepIndex" 
        [model]="steps" 
        class="mb-6 hidden sm:block"
    ></p-steps>

    <!-- Main Content -->
    <div class="flex-1 overflow-auto">
        <h1 class="text-2xl font-semibold text-center text-primary my-5">
            {{ currtentStep.label }}
        </h1>
        <app-personal-information-form #personal [show]="stepIndex === 0" (valid)="onValid($event, 0)"/>
        <app-school-information-form #school [show]="stepIndex === 1" (valid)="onValid($event, 1)"/>
        <div *ngIf="stepIndex === 2" class="flex flex-col items-center p-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-user text-blue-500 mr-2"></i>
                    <span class="font-medium">Nombre completo:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    {{ personalInformationForm.name.value }} {{ personalInformationForm.lastNames.value }}
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-calendar text-blue-500 mr-2"></i>
                    <span class="font-medium">Fecha de nacimiento:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    {{ personalInformationForm.birthdate.value | date: 'dd/MM/yyyy' }}
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-at text-blue-500 mr-2"></i>
                    <span class="font-medium">Correo:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    {{ personalInformationForm.email.value }}
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-phone text-blue-500 mr-2"></i>
                    <span class="font-medium">Teléfono:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    {{ personalInformationForm.phone.value }}
                </div>
            </div>
            <p-divider/>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-building text-blue-500 mr-2"></i>
                    <span class="font-medium">Nombre de la escuela:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    {{ schoolInformationForm.name.value }}
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-map text-blue-500 mr-2"></i>
                    <span class="font-medium">País:</span>
                </div>
                <div class="flex items-center justify-between sm:justify-end text-gray-800 font-semibold">
                    <span class="mr-2">{{ schoolInformationForm.country.value.name.common }}</span>
                    <img [src]="schoolInformationForm.country.value.flags.png" alt="flag" class="w-6 h-6"/>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-map-marker text-blue-500 mr-2"></i>
                    <span class="font-medium">Calle:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    {{ schoolInformationForm.street.value }}
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-warehouse text-blue-500 mr-2"></i>
                    <span class="font-medium">Colonia:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    {{ schoolInformationForm.neighborhood.value }}
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-hashtag text-blue-500 mr-2"></i>
                    <span class="font-medium">Código postal:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    {{ schoolInformationForm.zipCode.value }}
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center border-b border-gray-200 py-3 px-4 w-full sm:w-3/5">
                <div class="flex items-center text-gray-600 text-lg">
                    <i class="pi pi-server text-blue-500 mr-2"></i>
                    <span class="font-medium">Niveles de educación:</span>
                </div>
                <div class="text-gray-800 font-semibold sm:text-right">
                    @for (item of schoolInformationForm.educationalLevel.value; track $index) {
                        {{item.name}}{{$last ? '' : ', '}}
                    }
                </div>
            </div>
        </div>        
    </div>
    <!-- Action Buttons -->
    <div class="flex justify-between items-center">
        <p-button 
            label="Atrás" 
            class="p-button-outlined" 
            (click)="previousStep()" 
            [disabled]="isFirtsStep"
        ></p-button>
        <div class="rounded-full bg-blue-500 text-white flex items-center justify-center w-12 h-12 sm:hidden">
            {{ currtentStep.id }}
        </div>
        <p-button 
            [label]="isLastStep ? 'Confirmar' : 'Siguiente'" 
            class="p-button-outlined" 
            (click)="nextStep()" 
            [disabled]="isCurrentFormInvalid"
        ></p-button>
    </div>
</div>